---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?page=1&per_page=5&sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB-TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1563050694'
      Etag:
      - W/"83d8b6e50ff88fd6cb4d6cd96c652d7d"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2&per_page=5&sort=updated>; rel="next",
        <https://api.github.com/user/repos?page=8&per_page=5&sort=updated>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":194741429,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQ3NDE0Mjk=","name":"brownfield-of-dreams","full_name":"alexander-mathieu/brownfield-of-dreams","private":false,"owner":{"login":"alexander-mathieu","id":47018937,"node_id":"MDQ6VXNlcjQ3MDE4OTM3","avatar_url":"https://avatars3.githubusercontent.com/u/47018937?v=4","gravatar_id":"","url":"https://api.github.com/users/alexander-mathieu","html_url":"https://github.com/alexander-mathieu","followers_url":"https://api.github.com/users/alexander-mathieu/followers","following_url":"https://api.github.com/users/alexander-mathieu/following{/other_user}","gists_url":"https://api.github.com/users/alexander-mathieu/gists{/gist_id}","starred_url":"https://api.github.com/users/alexander-mathieu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexander-mathieu/subscriptions","organizations_url":"https://api.github.com/users/alexander-mathieu/orgs","repos_url":"https://api.github.com/users/alexander-mathieu/repos","events_url":"https://api.github.com/users/alexander-mathieu/events{/privacy}","received_events_url":"https://api.github.com/users/alexander-mathieu/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alexander-mathieu/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams","forks_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/alexander-mathieu/brownfield-of-dreams/deployments","created_at":"2019-07-01T20:52:36Z","updated_at":"2019-07-13T18:26:28Z","pushed_at":"2019-07-13T18:26:26Z","git_url":"git://github.com/alexander-mathieu/brownfield-of-dreams.git","ssh_url":"git@github.com:alexander-mathieu/brownfield-of-dreams.git","clone_url":"https://github.com/alexander-mathieu/brownfield-of-dreams.git","svn_url":"https://github.com/alexander-mathieu/brownfield-of-dreams","homepage":"","size":645,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":21,"license":null,"forks":0,"open_issues":21,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":178961669,"node_id":"MDEwOlJlcG9zaXRvcnkxNzg5NjE2Njk=","name":"ionic-frontend","full_name":"ToMarketinc/ionic-frontend","private":true,"owner":{"login":"ToMarketinc","id":43822338,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQzODIyMzM4","avatar_url":"https://avatars3.githubusercontent.com/u/43822338?v=4","gravatar_id":"","url":"https://api.github.com/users/ToMarketinc","html_url":"https://github.com/ToMarketinc","followers_url":"https://api.github.com/users/ToMarketinc/followers","following_url[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB-TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1563050694'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB-TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1563050694'
      Etag:
      - W[...]
