---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/BrennanAyers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB-TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1562711142'
      Etag:
      - W/"ca78edd9fb0febe4d47227d2d5dc4cb7"
      Last-Modified:
      - Wed, 03 Jul 2019 21:59:38 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"BrennanAyers","id":45154998,"node_id":"MDQ6VXNlcjQ1MTU0OTk4","avatar_url":"https://avatars0.githubusercontent.com/u/45154998?v=4","gravatar_id":"","url":"https://api.github.com/users/BrennanAyers","html_url":"https://github.com/BrennanAyers","followers_url":"https://api.github.com/users/BrennanAyers/followers","following_url":"https://api.github.com/users/BrennanAyers/following{/other_user}","gists_url":"https://api.github.com/users/BrennanAyers/gists{/gist_id}","starred_url":"https://api.github.com/users/BrennanAyers/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BrennanAyers/subscriptions","organizations_url":"https://api.github.com/users/BrennanAyers/orgs","repos_url":"https://api.github.com/users/BrennanAyers/repos","events_url":"https://api.github.com/users/BrennanAyers/events{/privacy}","received_events_url":"https://api.github.com/users/BrennanAyers/received_events","type":"User","site_admin":false,"name":"Brennan","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":45,"public_gists":12,"followers":4,"following":2,"created_at":"2018-11-19T01:14:36Z","updated_at":"2019-07-03T21:59:38Z"}'
  recorded_at: Tue, 09 Jul 2019 21:25:40 GMT
recorded_with: VCR 4.0.0
