<p>Hi <%= @user.first_name %>! Thanks for registering! To verify your registration, click the link below!</p>

<p><%= link_to 'Verify Your Account', email_verification_url(@user.verification_token) %></p>
